*{
    font-family:sans-serif;
}
html{
     font-size: 62.5%;
     background-color: gray;
}
header{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    font-size: larger;
}
main{
    display: grid;
    grid-auto-rows: 5rem 40rem 40rem 40rem;
    
    margin: 1rem;
    padding: 1rem;
}
h2{
    display: flex;
    justify-content: center;
    font-size: large;
}
.cuadrado{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: red;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: white;
    font-size: medium;
}
.cuadrado form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}
.triangulo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: blue;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: white;
    font-size: medium;
}
.triangulo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}
.circulo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: yellow;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: white;
    font-size: medium;
}
.circulo form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.footer{
    display: flex;
    justify-content: end;
}